.dark-toggle {
  position: relative;
  right: 4em;
  top: -0.5em;
  cursor: pointer;
  display: block;
}

.dark-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-toggle .switch {
  position: absolute;
}

.dark-toggle .switch:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  border-radius: 1.1em;
  transition: 0.1s;
}

.dark-toggle .switch:after {
  content: '';
  position: absolute;
  height: 1.8em;
  width: 2em;
  left: 0.2em;
  top: 0.2em;
  border-radius: 50%;
  transition: 0.1s;
}

.dark-toggle input:checked + .switch:after {
  transform: translateX(1.6em);
}

.dark .dark-toggle .switch:before {
  background-color: #555;
}

.dark .dark-toggle .switch:after {
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='lightgray' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-moon'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 1.25em;
  background-position: center;
  background-repeat: no-repeat;
}

.light .dark-toggle .switch:before {
  background-color: #ccc;
}

.light .dark-toggle .switch:after {
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-sun'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
}

.light .wy-nav-side {
  background: rgba(0, 0, 0, 0.05);
}

.light .wy-menu-vertical a, .light .wy-menu-vertical a:hover, .light .wy-menu-vertical a:visited {
  color: rgba(0, 0, 0, 0.85);
}

.light .wy-menu-vertical a:hover {
  background-color: #ddd;
}

.dark .wy-menu-vertical li.current {
  background-color: #444;
  color: #ddd;
}

.dark .wy-menu-vertical li.current > a, .dark .wy-menu-vertical li.on a {
  background-color: #444;
  color: #ddd;
  border-color: #383838;
}

.dark .wy-menu-vertical li.toctree-l2.current > a, .dark .wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
  background-color: #333;
}

.dark .wy-menu-vertical a, .dark .wy-menu-vertical a:hover, .dark .wy-menu-vertical a:visited, .dark a button.toctree-expand, .dark a:hover button.toctree-expand {
  color: rgba(255, 255, 255, 0.85) !important;
  border: none !important;
}

.dark .wy-menu-vertical a:hover {
  background-color: #343131 !important;
}

.dark .wy-nav-content-wrap {
  background-color: #343131;
}

.dark .rst-content div[class^="highlight"], .dark .rst-content pre.literal-block, .dark .code, .dark .literal {
  background-color: #333;
  border-color: #444;
}

.dark .admonition.tip {
  background-color: #a4bbb7;
  color: #333;
}

.dark .admonition.tip .admonition-title {
  background-color: #138d75;
  color: #222;
}

.dark .admonition.note {
  background-color: #adb5bb;
  color: #333;
}

.dark .admonition.note .admonition-title {
  background-color: #4f84a6;
  color: #222;
}

.dark .admonition.warning {
  background-color: #b2a68f;
  color: #333;
}

.dark .admonition.warning .admonition-title {
  background-color: #a87d58;
  color: #222;
}

.dark .wy-nav-content {
  background-color: #222;
  color: #ddd;
}

.dark .sphinx-tabs-panel, .dark .sphinx-tabs-tab, .dark [role="tablist"] {
  background-color: #222;
  border-color: #444;
}

.dark .sphinx-tabs-tab {
  color: #07a7e3;
  margin-right: unset;
}

.dark .rst-content table.docutils thead, .dark .rst-content table.field-list thead, .dark .wy-table thead {
  background-color: #191919;
  color: #fff;
}

.dark .btn-neutral {
  background-color: #191919 !important;
  color: #fff !important;
}

.dark .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .dark .wy-table-backed, .dark .wy-table-odd td, .dark .wy-table-striped tr:nth-child(2n-1) td {
  background-color: #292929;
}

.dark .rst-content table td, .dark .rst-content table.docutils, .dark .wy-table-bordered-all, .dark .rst-content table.docutils th {
  border-color: #444 !important;
}

.dark .highlight .nb, .dark .highlight .nt, .dark .highlight .k {
  color: #00a000;
}

.dark .highlight .nv {
  color: #7b79fe;
}

.dark .highlight .s1, .dark .highlight .s2, .dark .literal {
  color: #dc4343;
}

.dark .highlight .mi, .dark .highlight .mf, .dark .highlight .o {
  color: #999;
}

.wy-side-nav-search {
  background-color: #07a7e3;
}

.wy-nav-content {
  max-width: 1000px;
}

.rst-content .toctree-wrapper > p.caption, h1, h2, h3, h4, h5, h6, legend {
  font-family: Roboto, OpenSans, sans-serif;
}

.rst-content .toctree-wrapper ul li {
  list-style: none;
}

a, a:visited, a:active {
  color: #07a7e3;
}

a:hover {
  color: #46c2ff;
}

.sphinx-tab.tab :last-child {
  margin-bottom: 1px;
}
