.wy-nav-side {
  background: rgba(0, 0, 0, 0.05);
}

.wy-menu-vertical a, .wy-menu-vertical a:hover, .wy-menu-vertical a:visited {
  color: rgba(0, 0, 0, 0.85);
}

.wy-menu-vertical a:hover {
  background-color: #ddd;
}

.wy-side-nav-search {
  background-color: #07a7e3;
}

.wy-side-nav-search input[type="text"] {
  border-radius: 4px;
}

.wy-nav-content {
  max-width: 1000px;
}

.rst-content .toctree-wrapper > p.caption, h1, h2, h3, h4, h5, h6, legend {
  font-family: Roboto, OpenSans, sans-serif;
}

.rst-content .toctree-wrapper ul li {
  list-style: none;
}

a, a:visited, a:active {
  color: #07a7e3;
}

a:hover {
  color: #46c2ff;
}
